// Backgrounds Colors
.color-header-linear{
    background: linear-gradient(90deg, rgba(34,35,128,1) 17%, rgba(175,16,108,1) 72%);
}

.color-footer-linear{
    background: linear-gradient(90deg, rgba(34,35,128,1) 17%, rgba(175,16,108,1) 72%);
}

//------------------------------------------------------------------------------------------

// Header 

.header{
    margin-bottom: 142px;
}






// Login Style
#section-login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
    width: 90%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
        
    #logo-login{
        width: 275px;
    }
    
    .checkbox {
        font-weight: 400;
    }
    .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 14px;
        :focus {
            z-index: 2;
        }
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #input-submit{
        width: 190px;
        background-color: #fff0;
        transition: 0.3s;
        &:hover{
            background-color: #3490dc;
            color: #ffffff;
        }
    }
}


//Monitoramento 

    // Filtros
.filtros-monitoramento{
    width: 30% !important;
    display: inline-flex;
    margin: 0px 15px;
}

    // Status
.button-bus{
    width: fit-content;
    padding: 20px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
    display: inline-block;
    margin: 0px 3px;
}

.icon-status{
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
}


.text-bus{
    display: inline-block;
    font-size: 15px;
    vertical-align: sub;
}    

    // Tabela
#table-monitoramento{
    td{
        border: 1px solid #dee2e6;
        font-size: 12px;
    }
}